* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  padding: 10px; }
  .navbar a {
    font-size: 2.25rem;
    color: #000000;
    text-decoration: none;
    padding: .625rem;
    margin-bottom: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    margin-left: 0;
    margin-bottom: 20px; }

.navbar-brand {
  display: flex;
  justify-content: flex-start; }
  .navbar-brand img {
    width: 300px;
    height: 300px;
    margin-top: 35px; }

.nav-wrapper {
  width: 100%; }

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: transparent; }
  nav ul {
    list-style: none;
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0px; }
  nav a {
    text-decoration: none;
    color: white; }
  nav label {
    display: flex;
    color: white;
    cursor: pointer; }
  nav #toogle:checked ~ .menu {
    max-height: 700px; }

nav #toogle, nav label {
  display: none; }

.carousel {
  width: 75rem;
  display: flex;
  justify-content: center;
  width: 900px;
  width: 100%; }
  .carousel img {
    height: 700px;
    width: 400px;
    border-radius: 50px;
    border-style: unset;
    height: 600px;
    width: 100%;
    border-radius: 0;
    height: 400px;
    width: 100%;
    border-radius: 0;
    height: 300px;
    width: 100%;
    border-radius: 0; }

#carouselExampleIndicators {
  margin: 0 auto;
  width: 80%; }

.container {
  text-align: center;
  padding: 3.125rem; }
  .container h1 {
    color: #102C57;
    font-family: 'Times New Roman', Times, serif; }

.opciones {
  margin-top: 25rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px; }

.opciones_2 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: 300px;
  text-align: center;
  color: #102C57;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 500px;
  margin-bottom: 100px; }
  .opciones_2 h1 {
    font-size: 50px; }
  .opciones_2 p {
    font-size: 20px; }

.texto {
  color: #102C57;
  font-family: 'Times New Roman', Times, serif; }
  .texto h1 {
    font-size: 50px; }
  .texto p {
    font-size: 20px; }

.texto2 {
  color: #102C57;
  font-family: 'Times New Roman', Times, serif; }
  .texto2 h1 {
    font-size: 50px; }
  .texto2 p {
    font-size: 20px; }

.bx.bxs-user-circle {
  font-size: 75px;
  padding: 10px 10px 10px 10px; }

.bxs-lock {
  font-size: 50px;
  position: absolute;
  left: 1100px; }

.bxs-gift {
  font-size: 50px;
  position: absolute;
  left: 1000px; }

.bxs-wallet {
  font-size: 50px;
  position: absolute;
  right: 1000px; }

.fondito {
  background-size: cover;
  background-position: center; }

.fonduso {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover; }

.pie {
  background: transparent;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 75px;
  padding: 20px;
  background: transparent;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: transparent;
  display: grid;
  grid-template-columns: repeat(1, 1fr); }
  .pie a {
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px; }
  .pie p {
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px; }
  .pie h3 {
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px; }

.rayita-pie {
  width: 80%; }
