@mixin flex($justify, $align, $direction, $wrap, $gap){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    flex-wrap: $wrap;
    gap: $gap;
}

@mixin grid($columns){
    display: grid;
    grid-template-columns: $columns;
}