.pie {
	background: transparent;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	padding: 75px;
	padding: 20px;
	background: transparent;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	background: transparent;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	a {
		color: #000000;
		font-family: 'Times New Roman', Times, serif;
		font-size: 20px;
	}
	p {
		color: #000000;
		font-family: 'Times New Roman', Times, serif;
		font-size: 20px;
	}
	h3 {
		color: #000000;
		font-family: 'Times New Roman', Times, serif;
		font-size: 32px;
	}
}
.rayita-pie {
	width: 80%;
}